h2, p {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

code {
  display: block;
  padding: 0.5em;
  background-color: #383838;
  width: 50%;
  margin: 0.5em auto;
  word-wrap: break-word;
  border-radius: 4px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}